<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WYRMS权限管理系统</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="/Resources/img/favicon.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- global css -->
    <link type="text/css" href="/Resources/css/app.css" rel="stylesheet" />
    <link href="/Resources/css/custom_css/dashboard1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Resources/vendors/datatables/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Resources/css/custom_css/datatables_custom.css">
    <link rel="stylesheet" type="text/css" href="/Resources/vendors/awesomebootstrapcheckbox/css/awesome-bootstrap-checkbox.css">
    <link href="/Resources/css/buttons_sass.css" rel="stylesheet">
    <!-- end of global css -->
    <!--page level css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--end of page level css-->
    @RenderSection("AddToHeadAnotherWay", required: false)
</head>
<body class="skin-coreplus">
    <div class="preloader">
        <div class="loader_img"><img src="/Resources/img/loader.gif" alt="loading..." height="64" width="64"></div>
    </div>
    <!-- header logo: style can be found in header-->
    <header class="header">
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="@Url.Action("Index", "Home", new { area = "Common" })" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the marginin -->
                <img src="/Resources/img/logo.png" alt="logo" />
            </a>
            <!-- Header Navbar: style can be found in header-->
            <!-- Sidebar toggle button-->
            <div>
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <i class="fa fa-fw fa-bars"></i>
                </a>
            </div>
            <div class="navbar-right">

            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar-->
            <section class="sidebar">
                <div id="menu" role="navigation">

                    @Html.Partial("_LeftSideMenus")
                    <!-- / .navigation -->
                </div>
                <!-- menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <!--section ends-->
            @RenderBody()

            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
    <!-- global js -->
    <div id="qn"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/Toastr/toastr.min.js"></script>
    <script src="/Resources/vendors/granim/js/granim.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Resources/vendors/datatables/js/jquery.dataTables.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/Scripts/Custom/ModalForm.js"></script>
    <!-- end of page level js -->
    <script type="text/javascript">
        toastr.options = { positionClass: "toast-top-center", showDuration: "150", hideDuration: "2000", showMethod: "fadeIn" };
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(function () {
        var currentUrl = window.location.pathname.toLowerCase();
        var acounts = $("#leftmenu a");
        $.each(acounts, function () {
            var url = $(this).attr("href");
            if (url.toLowerCase() === currentUrl) {
                var p1 = $(this).parent("li");
                p1.addClass("active");
                var p2 = $(p1).parent("ul");
                p2.addClass("collapse in");
                var p3 = $(p2).parent("li");
                p3.addClass("active");
                return false;
            }
        });

        //修改个人密码
        $("#editPerson").click(function () {
            var actionUrl = "@Url.Action("EditPersionalInfo", "User", new {area = "Member"})";
            var param = {};
            ShowModalForm("#editPersonalPwdDiv", actionUrl, param);
        });

        //修改头像
        $("#uploadMyImg").click(function () {
            var actionUrl = "@Url.Action("UploadMyImg", "User", new {area = "Member"})";
            var param = {};
            ShowModalForm("#myImgModalDiv", actionUrl, param);
        });

    });


</script>
