@using WYRMS.ViewModel
@model List<CheckBoxVM>
@{
    int currentKeyId = ViewBag.KeyId;
}

<div>
    <input type="hidden" id="keyId" name="keyId" value="@currentKeyId" />
    <div class="form-group">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-xs-6">
                <label>
                    <input class="myCheck" checked="@item.IsChecked" type="checkbox" name="@item.Name" value="@item.Value">@item.Discription
                </label>
            </div>
        }
    </div>
</div>

